{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cafemanía</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>

<header>

    <div class="logo"><img src="{% static 'img/Logo.png' %}" alt="Logo"></div>
    <div><h1>Cafemanía</h1></div>
</header>
<nav>
    
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'menu' %}">Menú</a>
    <a href="{% url 'galeria' %}">Galería</a>
    
</nav>



<hr>
{% block contenido %}
{% endblock %}
</body>
</html>