{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Cafemanía</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Nuestro menú</h2>
    <p>Aquí aparecerán los productos.</p>
    <ul>
        {% for producto in catalogo %}
            <li>
                <h3>{{ producto.nombre }}</h3>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
            </li>
        {% endfor %}
        </ul>
</body>
</html>